.my-title {
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}

.my-body {
  margin: auto;
}